<%= form_with(model: person, id: 'js-person-form') do |form| %>
  <% if person.errors.any? %>
    <div class='alert alert-danger' role='alert'>
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-3'>
    <%= form.label :first_name, class: 'form-label' %>
    <%= form.text_field :first_name, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :last_name, class: 'form-label' %>
    <%= form.text_field :last_name, class: 'form-control' %>
  </div>

  <div class='row'>
    <p>Date of birth:</p>
    <div class='col-4'>
      <%= form.label :day, class: 'form-label' %>
      <%= form.number_field :day, class: 'form-control' %>
    </div>
    <div class='col-4'>
      <%= form.label :month, class: 'form-label' %>
      <%= form.number_field :month, class: 'form-control' %>
    </div>
    <div class='col-4'>
      <%= form.label :year, class: 'form-label' %>
      <%= form.number_field :year, class: 'form-control' %>
    </div>
  </div>

  <div>
    <%= form.label :gender, class: 'form-label' %>
    <%= form.select :gender, Person::GENDERS, {}, class: 'form-select' %>
  </div>

  <div id='js-wife-selector'>
    <%= form.label :wife, class: 'form-label' %>
    <%= form.select :wife_id,
      select_people_for_marriage(@person).collect {|p| [ p.full_name, p.id ] },
      {selected: person.wife&.id, include_blank: true},
      {class: 'form-select'}
    %>
  </div>

  <div id='js-husband-selector'>
    <%= form.label :husband, class: 'form-label' %>
    <%= form.select :husband_id,
      select_people_for_marriage(@person).collect {|p| [ p.full_name, p.id ] },
      {include_blank: true, selected: person.husband&.id},
      {class: 'form-select'}
    %>
  </div>

  <div id='js-marriage-date-selector'>
    <div class='row'>
      <div class='col-4'>
        <%= form.label :marriage_day, class: 'form-label', for: :m_day %>
        <%= form.number_field :m_day, value: person.marriage&.m_day, class: 'form-control' %>
      </div>
      <div class='col-4'>
        <%= form.label :marriage_month, class: 'form-label', for: :m_month %>
        <%= form.number_field :m_month, value: person.marriage&.m_month, class: 'form-control' %>
      </div>
      <div class='col-4'>
        <%= form.label :marriage_year, class: 'form-label', for: :m_year %>
        <%= form.number_field :m_year, value: person.marriage&.m_year, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
