<div id="<%= dom_id person %>">
  <tr>
    <td><%= link_to person.first_name, person %></td>
    <td><%= link_to person.last_name, person %></td>
    <td><%= person.dob %></td>
    <td><%= person.gender %></td>
    <td>
      <% if person.wife %>
        <%= link_to(person.wife.full_name, person.wife) %>
      <% end %>
      <% if person.husband %>
        <%= link_to(person.husband.full_name, person.husband) %>
      <% end %>
    </td>
    <td><%= person.marriage&.date&.strftime("%F") %></td>
  </tr>
</div>
